<h1>About</h1>
<br>
<p>
    This System was built in the process of the research conducted by the authors of the paper
    "CAM 2.0: End-to-End Open Domain Comparative Question Answering System" which can be found <a href="">here</a>.
</p>
<br>
<h3>Abstract</h3>
<p>Comparative Question Answering (CompQA) is a Natural Language Processing task that combines Question
    Answering and Argument Mining approaches to answer subjective comparative questions in an efficient argumentative
    manner. In this paper, we present an end-to-end (full pipeline) system for answering comparative questions
    called CAM 2.0 as well as a public leaderboard called CompUGE that unifies the existing datasets under a single
    easy-to-use evaluation suite. As compared to previous web-form-based CompQA systems, it features question
    identification, object and aspect labeling and summarization using up-to-date models. We also select the most
    time- and memory-effective pipeline by comparing separately fine-tuned Transformer Encoder models which show
    state-of-the-art performance on the subtasks with Generative LLMs in few-shot and LoRA setups. We also conduct a
    user study for a whole-system evaluation</p>
<br>
<p>
    The system was built by the following authors:
    <ul>
        <li>Ahmad Shallouf</li>
        <li>Hanna Herasimchyk</li>
        <li>Rudy Garrido Veliz</li>
        <li>Natia Mestvirishvili</li>
    </ul>
